!!! 5
html
  head
    script(src='js/socket.io/support/socket.io-client/socket.io.js')
    script(src='js/jquery/jquery.js')
    script(src='js/underscore.js')
    script(src='js/keys.js')
    script(src='js/log.js')
    script(src='js/util.js')
    script(src='js/uuid/uuid.js')
    script(src='js/events.js')
    script(src='model.js')
    script(src='controller.js')
    script(src='user-mod.js')

    style
    :stylus
      .clear
        clear both

      .chat-block
        margin 3px
        margin-bottom 8px
        padding 5px
        -webkit-border-radius 3px
        -webkit-box-shadow 0px 2px 6px rgba(0,0,0,0.6)

      .chat-time
        float right
        font-size 12px

      .chat-name
        font-weight bold
        margin-right 8px
        margin-left 8px
        -webkit-user-select none
        float left

      .chat-message
        margin-right 10px
        margin-left 13px
        
      #app
        margin 0 auto
        width: 1024px
        
      #map
        border 1px solid black

      #chat
        height 220px;
        position fixed
        bottom 0px
        padding 10px

      #chat-content
        padding 10px
        background-color white
        height 170px
        border 2px solid black
        overflow-y auto
        overflow-x hidden

      #chat-input
        border 2px solid black
        margin-top 5px
        height 20px
        width 992px
  body
    div#app
      div#map
      div#chat
        Name: input#name
        div#chat-content
        textarea#chat-input
        script
          var chat_t = _.template(
          "<div class='chat-block chat-identity'>" +
            "<div class='chat-time'>{time}</div>" +
            "<div class='chat-name'>{name}</div>" + 
            "<div class='chat-message'>{message}</div>" + 
          "</div><div class='clear'></div>"
          );

          app = new Controller({
            socket: new io.Socket('10.1.10.133')
          });

          app.socket.connect();

          app.on('socket.message', function(m){
            if (!m.type) return;
            app.emit(m.type, m);
          });

          app.on('socket.connect', function(){
            console.log('connected');
          });

          app.on('socket.disconnect', function(){
            console.log('disconnected')
          });

          app.on('chat', function(m){
            console.log(m);

            var view = $('#chat-content');

            view
              .append(chat_t({
                time    : nice_time(m.data.time),
                name    : m.data.from,
                message : m.data.message
              }))
              .attr('scrollTop', view.attr('scrollHeight'));
          })

          $(document).ready(function(){
            var me = new User();

            var chatCollection = new Collection(Chat);

            var chat = new Controller({
              view  : $('#chat-content'),
              socket: app.socket,
              model : chatCollection
            });
            
            chat.on('model.add', function(event){
              this.socket.send({
                type  : 'chat',         
                data  : event)
              });
            })
            
            chat.on('view.keypress', function(event, element){
                if (event.keyCode == KEYS.enter) {
                  this.model.push(new Chat({
                    message : element.val(),
                    from    : me._id,
                    time    : new Date()
                  }));
                  
                  element.val('').blur();
                  setTimeout(function(){
                    element.focus();
                  },0);
                }
            })
            
            
            var name = new Controller({
              view  : $('#name'),
              model : user,
              socket: app.socket
            });
            
            name.on('model.change', function(){
              this.socket.send({
                type  : 'update',
                class : 'user',
                data  : this.model
              });
            });
            
            user.source(app);
            
            name.on('view.keypress', function(ev, el){
              this.model.name = el.val();
            });
                        
          });